body {
  font-family: "Poppins";
  background: #3f170f;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.img-bigger {
  width: 350px;
  display: block;
}
.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0px 30px 30px;
}
.btn {
  width: Fill (306px) px;
  height: Hug (51px) px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 100px;
  opacity: 0px;
  background: #dbbefa;
  color: #666666;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #fff4f2;
}

header {
  background-image: linear-gradient(
      360deg,
      #030504 0%,
      rgba(2, 4, 3, 0.3) 51.55%,
      rgba(11, 6, 32, 0) 100%
    ),
    url("../images/mclyte-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  background: #bb5f4c;
  color: white;
  text-decoration: none;
  width: 146px;
  height: 51px;
  padding: 16px 32px 16px 32px;

  gap: 10px;
  border-radius: 100px;
  opacity: 0px;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 0;
}
main h3 {
  color: #bb5f4c;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #bb5f4c;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #bb5f4c;
  margin: 0;
}
main p {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(63, 23, 15, 0.4),
      rgba(63, 23, 15, 0.6)
    ),
    url("../images/mc-lyte-grammy-page.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px 120px 0;
}

footer h3 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.9;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;

  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.style-script-regular {
  font-family: "Style Script", cursive;
  font-size: 48px;
  font-weight: 900;
  color: #e1c9fb;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #fe1a8c;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 16px;
  }
  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
